@import '../../../scss/variables';

.Button {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 4px;
    padding: 0;
    background-color: $button-default;
    font-weight: 600;
    cursor: pointer;
    
}

.Edit {
    width: 60px;
    height: 28px;
    margin: 31px 0 0 51px;
    font-size: 14px;
    font-weight: 500;
}

.Add {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 30px 30px 0;
    background-color: $button-add;
    color: $white;

    svg {
        width: 19px;
        height: 19px;
    }
}

.EditSubmit {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    background-color: $button-edit;
    color: $white;
}

.AddSubmit {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    background-color: $button-add;
    color: $white;
}

.DeleteContact {
    justify-content: center;
    width: 22px;
    height: 22px;
    border: 2px solid $white;
    border-radius: 50%;
    background-color: $lightgreen;
    color: rgba(74, 74, 74, 0.45);

    svg {
        width: 11px;
        height: 11px;
        color: $default;
        transform: rotateZ(45deg)
    }
}

.CancelForm {
    display: flex;
    justify-content: center;
    align-content: center;

    svg {
        width: 19px;
        height: 19px;
        transform: rotateZ(45deg);
    }
    
}