@import '../../../../scss/variables';

.ContactsItem {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-left: 18px;
    color: $darkgrey;
    cursor: pointer;

    button {
        display: none;
        position: absolute;
        right: 12px;
    }

    &:hover {
        font-weight: bold;

        button {
            display: flex;
        }
    }
}

.SelectedItem {
    background-color: $lightgreen;

    button {
        display: flex;
    }
}