@import '../../../../scss/variables';

.ContactForm {
    position: absolute;
    top: 0;
    right: 0;
    width: 335px;
    height: 100%;
    border-left: 1px solid $border;
    padding-top: 28px;
    background-color: $white;
    z-index: 5;

    h3 {
        margin-left: 24px;
        font-size: 19px;
        font-weight: 700;
    }
}