// Variables

// Colors

$default: #4a4a4a;
$white: #fff;
$darkgrey: #333;
$lightgrey: #999;
$grey: #f8f8f8;
$green: #5d6e6a;
$lightgreen: #ebf0ef;
$border: #dadada;

$button-default: #eee;
$button-add: #0bd4a4;
$button-edit: #0cb7f5;

$random1: #d0021b;
$random2: #02b4d0;
$random3: #5502d0;
$random4: #024bd0;
$random5: #c702d0;
$random6: #02d0ab;
$random7: #47d002;
$random8: #c9d002;
$random9: #d09202;